@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col">
        <div>I built this app for fun so I could start charging my car from a web browser.  I do not provide any guarantees that this application will work as intended, use at your own risk.</div>

        <div>The app provides some basic functionality</div>
        <ul><li>Login/logout</li><li>View vehicles linked to your account</li><li>View vehicle details</li><li>Start and stop charging</li><li>Set state of charge limit</li></ul>
        <div>Privacy</div>
        <ul>
            <li>The app does not store your Tesla account password.</li>
            <li>The app stores your Tesla account username in server memory while your session is active.</li>
            <li>Your username is deleted from server memory automatically, after your session is been inactive for 20 minutes.</li>
            <li>The app does not log any information regarding your activity or Tesla account credentials.</li>
        </ul>
        <div>Source code for this app is on <a href="https://github.com/GitBenM/TeslaExplorer">GitHub</a></div>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form method="post" class="form-signin">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="EmailAddress" value="@Model.EmailAddress">
                        <label for="inputEmail">Email address</label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="Password">
                        <label for="inputPassword">Password</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="SavePassword" @(Model.IsSavePassword ? "checked" : string.Empty)>
                        @*<label class="custom-control-label" for="customCheck1">Remember password</label>*@
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142603971-1"></script>
<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-142603971-1');
</script>