@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col">
        <div>Tesla Explorer is a fun way for me to learn new things and present information about my Tesla vehicle in a manner I find pleasing.</div>
        <div>The app has the following features</div>
        <ul>
            <li>Login</li>
            <li>View account vehicles</li>
            <li>View vehicle details</li>
            <li>Start and stop charging</li>
            <li>Set state of charge limit</li>
        </ul>
        <div>Features I want to add:</div>
        <ul>
            <li>Better wake up management</li>
            <li>Smart HVAC scheduling
            <ul><li>Turn on HVAC to condition the cabin on a schedule instead of doing it manually</li></ul>
            </li>
            <li>Smart charging schedule:
            <ul>
                <li>Start charging based on the state of charge, rate of charge sampled (user defined sampling time) and state of charge limit</li>
                <li>Avoids the situation when the scheduled charge start time doesn't allow enough time to replenish the previous days driving</li>
            </ul></li>
        </ul>
        <div>Privacy</div>
        <ul>
            <li>The app does not store your Tesla account password.</li>
            <li>The app stores your Tesla account username in server memory while your session is active.</li>
            <li>The app deletes your Tesla account username after 20 minutes of inactivity.</li>
            <li>The app does not log any information regarding your activity or Tesla account credentials.</li>
        </ul>
        <div>This app is provided free of charge under the <a href="https://github.com/GitBenM/TeslaExplorer/blob/master/LICENSE">MIT License</a></div>
        <div>Source code is available on <a href="https://github.com/GitBenM/TeslaExplorer">GitHub</a></div>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign In - Tesla Account</h5>
                <form method="post" class="form-signin">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="EmailAddress" value="@Model.EmailAddress">
                        <label for="inputEmail">Email address</label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="Password">
                        <label for="inputPassword">Password</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="SavePassword" @(Model.IsSavePassword ? "checked" : string.Empty)>
                        @*<label class="custom-control-label" for="customCheck1">Remember password</label>*@
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142603971-1"></script>
<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-142603971-1');
</script>